<footer class="footer">
    <div class="footer__location">
        <ul class="footer__location-list">
            <li class="footer__location-element">Alex Gigachad Uscata Quispe Hoelzle</li>
            <li class="footer__location-element">Sigmatown 42069,</li>
            <li class="footer__location-element">Iso-main 9</li>
        </ul>
    </div>
</footer>
