@use "sass:map";
@use "../helpers/mixins";


.drinks-layout {
  @include mixins.content-grid-content-block;

  padding-inline: 10rem;
}

.drink-content {
  display: flex;
  flex-direction: column;

  &__introduction {
    margin-inline: auto;
    font-size: 1.5rem;
    padding: 0 3rem;
    text-align: center;
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &__button {
    text-decoration: none;
    color: white;
  }
}
