@use "sass:map";
@use "../helpers/mixins";

.preview-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  min-height: 30vh;
  color: white;
  text-align: center;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &__title {
    font-family: Pacifico, Helvetica, sans-serif;
  }
}
