@use "sass:map";
@use "../helpers/mixins";

.drink-preview-banner {
  @include mixins.content-grid-full-block
}

.preview-banner {
  text-align: center;
  height: 30vh;
  color: white;

  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    font-family: Pacifico, Helvetica, sans-serif;
  }
}
