{% extends "_layouts/base.twig" %}

{% block content %}
    {{ loadCssComponent('breadcrumbs') }}

    {% include "@craft-components/breadcrumbs.twig" with {
        overwriteCss: true
    } %}
    <div class="drinks-layout">
        {% include "_components/drink-content.twig" with {
            introduction: entry.introduction,
            description: entry.pageCopy,
            image: entry.drinkImage.one()
        } %}
    </div>
{% endblock %}
