{% extends "_layouts/base.twig" %}

{% block content %}
    {{ loadCssComponent('drink', 'partials') }}

    {% include "@craft-components/breadcrumbs.twig" with {
        overwriteCss: true
    } %}
    <div class="drink-preview-banner">
        {% include '_components/preview-banner.twig' with {
            title: entry.title,
            intro: entry.introduction,
            img: entry.drinkImage.one().url
        } %}
    </div>
    <div class="drinks-layout">
        {% include "_components/drink-content.twig" with {
            introduction: entry.introduction,
            description: entry.pageCopy,
            image: entry.drinkImage.one()
        } %}
    </div>
{% endblock %}
