{{ loadCssComponent('preview-banner') }}

{% from "@craft-components/img.twig" import img %}

<div class="preview-banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url('{{ img }}');">
    {% block title %}
        <h1 class="preview-banner__title">{{ title }}</h1>
        {% if intro != null %}
            <p>{{ intro }}</p>
        {% endif %}
    {% endblock %}
</div>
