{% embed '@craft-components/navbar/navbar.twig' %}
    {% block navbarMobileHeaderContent %}
        <a href="{{ siteUrl('') }}">Logo</a>
        {{ parent() }}
    {% endblock %}
    {% block navbarMobileContentBefore %}
        <div style=" height: 100px; background-color: green;"><h4>Beispiel inhalt mobile</h4></div>
    {% endblock %}
    {% block navbarMobileContentAfter %}
        <div style=" height: 100px; background-color: yellow;"><h4>Beispiel inhalt mobile</h4></div>
    {% endblock %}
    {% block desktopContent %}
        <span class="navbar__desktop-title"><a href="/">Crafty</a></span>
        <ul class="navbar__desktop-list">
            <li><a href="/">About Crafty Coffee</a></li>
            <li><a href="/drinks">Our Signature Drinks</a></li>
            <li><a href="/recipes">Our Recipes</a></li>
        </ul>
    {% endblock %}
{% endembed %}
