@use "../helpers/variables";
@use "../helpers/mixins";

.navbar-lang {
  display: inline-flex;
  grid-column: 2 / 2;
  flex-flow: row nowrap;
  align-items: center;

  &__link {
    display: inline-flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    height: 3.2rem;
    margin-right: 0;
    margin-left: 0.5rem;
    padding: 0.5rem;
    border: 1px solid transparent;
    font-size: 1.4rem;
    text-decoration: none;

    &::after {
      width: calc(100% - 2rem);
      margin-top: 1.4rem;
    }
  }

  @include mixins.media-include-media(">#{variables.$navbar-mobile-breakpoint}") {
    padding-right: 4rem;

    &__link {
      margin-right: 0;
      font-size: 1.6rem;
    }
  }
}
